@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;